@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Sign Up page */
.signup-cont{
    width: 25%;
    padding: 50px 0;
}

.signup-cont h1{
    font-weight: bold;
    font-size: 28px;
}

.signup-cont h5{
    font-weight: bold;
}

.signup-cont .form-group label{
    font-weight: bold;
    font-size: 14px;
}

.signup-cont .form-group .form-control{
    font-size: 14px;
    padding: 20px 15px;
}

.signup-cont p{
    font-size: 13px;
}

.signup-cont .btn-signup{
    color: #ffffff;
    background-color: darkred;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 50px;
}

.signup-cont .btn-signup:hover{
    color: #ffffff;
    background-color: #017142e5;
}